fastapi==0.115.8
uvicorn[standard]==0.34.0
pydantic==1.10.26
email-validator==2.2.0
psycopg[binary]==3.2.10
requests==2.32.3
cryptography==44.0.0
qrcode==7.4.2
websocket-client==1.8.0
pillow==11.1.0
pystray==0.19.5
